@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica, Arial, sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
    background-color: #f2f2f2;
}

tr.row0 {
    background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}

table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
}

h3 {
    font-size: larger;
}

/* 日報詳細ページ */
.index_a {
    display: inline-block;
    float: left;
    margin-right: 25px;
}

#comment_header {
    font-size: 20px;
    margin-top: 50px;
}

.comment_num {
    display: inline-block;
}

.comment_employee_name {
    display: inline-block;
    background: linear-gradient(transparent 70%, #fff06e 30%);
    margin-left: 15px;
}

#comment_name:after {
    content: 'さんからのコメント';
    padding-left: 10px;
}

.comment_content {
    position: relative;
    margin-top: 25px;
    padding: 7px 10px;
    width: 50%;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #f0f0f0;
}

.comment_content:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f0f0f0;
}

.comment_date {
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

#comment_edit {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    font-size: 14px;
}

#separationline {
    background-color: #fff;
    border-top: 1px dashed #cccccc;
    width: 50%;
    text-align: left;
    margin-left: 0;
}

hr {
    height: 1px;
    background-color: #cccccc;
    border: none;
    margin-bottom: 30px;
}

/* 検索フォーム */

.search_field {
    background-color: #f0f0f0;
    margin: 5px 0 15px 0;
}

.search_header {
    font-size: 25px;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0 0 10px 0;
}

.search_wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 1%;
}

.search_column {
    display: inline-block;
    width: 33%;
    margin: 5px 0 15px 0;
}

.search_box {
    width: 95%;
    margin: 5px;
}

.button_wrapper {
    text-align: center;
}

.search_reset_button {
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 10px 5%;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border: 1px solid;
}

.search_reset_button:hover {
    background-color: #ededed;
}

.search_submit_button {
    margin-bottom: 15px;
    padding: 10px 8%;
    background-color: #333;
    color: #ccc;
    font-size: 16px;
    border: 1px solid;
}

.search_submit_button:hover {
    background-color: #595959;
}
